{% extends "blog/layout.html" %}
{% block title%} О нас {%endblock %} 
{% block content %} 



<main>
    <h1>О нас</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus saepe quia praesentium delectus assumenda voluptatum laudantium repellat ea fugiat nostrum amet, suscipit modi provident at quis illum eligendi nihil facere!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus saepe quia praesentium delectus assumenda voluptatum laudantium repellat ea fugiat nostrum amet, suscipit modi provident at quis illum eligendi nihil facere!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus saepe quia praesentium delectus assumenda voluptatum laudantium repellat ea fugiat nostrum amet, suscipit modi provident at quis illum eligendi nihil facere!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus saepe quia praesentium delectus assumenda voluptatum laudantium repellat ea fugiat nostrum amet, suscipit modi provident at quis illum eligendi nihil facere!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus saepe quia praesentium delectus assumenda voluptatum laudantium repellat ea fugiat nostrum amet, suscipit modi provident at quis illum eligendi nihil facere!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus saepe quia praesentium delectus assumenda voluptatum laudantium repellat ea fugiat nostrum amet, suscipit modi provident at quis illum eligendi nihil facere!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus saepe quia praesentium delectus assumenda voluptatum laudantium repellat ea fugiat nostrum amet, suscipit modi provident at quis illum eligendi nihil facere!
        
    </p>
</main>

{% endblock %} 
