{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'blog/css/Style.css'%}">
    <title>{% block title %}{%endblock%}</title>
</head>
<body>
    <nav class="menu">
        <h3>My_Blog</h3>
        <ul class="nav">
            <li><a href="{% url 'home' %}">Главная</a></li>
            <li><a href="{% url 'blog' %}">Блог</a></li>
            <li><a href="{% url 'about' %}">О нас</a></li>
        </ul>
        <ul class="reg">
            <li>Регистрация</li>
            <li><a href="/admin/">Вход</a></li>
        </ul>
    </nav> 

    {% block content %} {%endblock%}

    <footer>
       <h3>My_Blog</h3>
       <div>
            <p>Product by</p><br>
            <p>  @Xiver</p>
       </div>
       <p>This.footer</p>
    </footer>
</body>
</html>